<html>
    <head>
        <title>Headlines</title>
    </head>
    <body>
        <h1>Weather and headlines</h1>
        <h2>Current weather</h2>
        <form>
                <input type="text" name="city" placeholder="weather search">
                <input type="submit" value="Submit">
        </form>
        <p>City: <b>{{weather.city}}</b></p>
        <p>{{weather.description}} | {{weather.temperature}}&#8457</p>

        <h2>News headlines</h2>
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>
        {% for article in articles %}
            <b><a href="{{article.link}}">{{article.title}}</a></b><br/>
            <i>{{article.published}}</i><br/>
            <p>{{article.summary}}</p><br/>
             <!-- <a href="{{article.link}}">Click for story</a>  -->
            <hr />
        {% endfor %}
    </body>
</html>
